@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    @apply border-border;
  }

  :root {
    --background: 9 78% 98%;
    --foreground: 4 73% 7%;
    --card: 9 78% 98%;
    --card-foreground: 4 73% 7%;
    --popover: 9 78% 98%;
    --popover-foreground: 4 73% 7%;
    --primary: 5 72% 53%;
    --primary-foreground: 4 73% 7%;
    --secondary: 25 71% 73%;
    --secondary-foreground: 4 73% 7%;
    --muted: 9 78% 20%;
    --muted-foreground: 4 73% 70%;
    --accent: 37 71% 63%;
    --accent-foreground: 4 73% 7%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 4 73% 7%;
    --border: 0 0% 89.8%;
    --input: 9 78% 20%;
    --ring: 37 71% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 8 80% 2%;
    --foreground: 5 72% 93%;
    --card: 8 80% 2%;
    --card-foreground: 5 72% 93%;
    --popover: 8 80% 2%;
    --popover-foreground: 5 72% 93%;
    --primary: 5 72% 47%;
    --primary-foreground: 8 80% 2%;
    --secondary: 25 71% 27%;
    --secondary-foreground: 5 72% 93%;
    --muted: 8 80% 80%;
    --muted-foreground: 5 72% 93%;
    --accent: 37 71% 37%;
    --accent-foreground: 8 80% 2%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 5 73% 10%;
    --border: 0 0% 14.9%;
    --input: 8 80% 80%;
    --ring: 37 71% 60%;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    opacity: 0.7;
    background: hsl(var(--accent));
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--foreground));
  }
}

@layer components {
  .bg-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom hsla(281, 19%, 26%, 0.25),
      hsla(270, 40%, 2%, 0.25),
      transparent
    );
  }

  .mask-gradient {
    width: 100%;
    height: 100%;

    -webkit-mask-image: url("/images/brush.png");
    mask-image: url("/images/brush.png");
  }
}
